{% extends 'base.html' %}
{% block title %}
Home Page
{% endblock %}
{% block content %}
<div class="container"><br>

    <h1>Games Date: {{ Date }}</h1><td></td>
	<br>
	<form action="/files/{{ id }}" method="GET">
        <input type="submit" class="btn btn-primary" value="Download Result" >
	<div class="row mt-4">
		<div class="item features-image сol-12 col-md-6 col-lg-400">
			<div class="item-wrapper">
				<div class="item-content">
					<table class="table">
					<h3 class="item-title mbr-fonts-style display-15"><strong>Game Score</strong></h3>	
					<thead>
						<tr>
						  <th scope="col">Command name</th>
						  <th scope="col">Score</th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
							<td>{{ Home_Command_Name }}</td>
							<td>{{ Home_Command_Goals }}</td>
						</tr>  
						<tr>
							<td>{{ Away_Command_Name }}</td>
							<td>{{ Away_Command_Goals }}</td>
						</tr>  
					</table>
				</div>
				
			</div>
		</div>
		<div class="item features-image сol-12 col-md-6 col-lg-4">
			<div class="item-wrapper">
				<table class="table">
					<h3 class="item-title mbr-fonts-style display-15"><strong>TOP 3</strong></h3>	
					<thead>
						<tr>
						  <th scope="col">Full Name Player</th>
						  <th scope="col">TOI</th>
						</tr>
					  </thead>
					  <tbody>
						{% for conf in top3_player %}
						<tr>
							<td>{{ conf[1] }}</td>
							<td>{{ conf[3] }}</td>
						{% endfor %}
						</tr>  
					</table>
			</div>
		</div>
	</div>	
<table class="table">
	<h4 class="item-title mbr-fonts-style display-20"><strong>Home Command Name:  {{ Home_Command_Name }}</strong></h4>	
	<thead>
		<tr>
		  <th scope="col">Full Name Player</th>
		  <th scope="col">TOI</th>
		</tr>
	  </thead>
	  <tbody>
		{% for conf in detail_game_home %}
		<tr>
			<td>{{ conf[1] }}</td>
			<td>{{ conf[3] }}</td>
		{% endfor %}
		</tr>
	
	</tbody>
</table>

<table class="table">
	<h4 class="item-title mbr-fonts-style display-20"><strong>Away Command Name:  {{ Away_Command_Name }}</strong></h4>	
	<thead>
    	<tr>
      	<th scope="col">Full Name Player</th>
	  	<th scope="col">TOI</th>
		</tr>
  	</thead>
  	<tbody>
	{% for conf in detail_game_away %}
	<tr>
		<td>{{ conf[1] }}</td>
		<td>{{ conf[3] }}</td>
	{% endfor %}
	</tr>

 	</tbody>
</table>

</div>

{% endblock %}

