{% extends 'base.html' %}
{% block title %}
Home Page
{% endblock %}
{% block content %}
<div class="container"><br>

    <h1>Games Calendar New</h1><td></td>
	<br>

<table class="table">
<thead>
    <tr>
      <th scope="col">Date</th>
      <!-- <th scope="col">Name Team</th>
      <th scope="col">Goals</th>
      <th scope="col">Full Name Player</th>
	  <th scope="col">TOI</th> -->

    </tr>
  </thead>
  <tbody>
	{% for conf in confs %}
	<tr>
		<!-- <td>{{ conf[1] }}</td> -->
		<td><a href="/gameid/{{ conf['gameid'] }}" >{{ conf['date'] }}</a>
		<!-- <td>{{ conf[3] }}</td>
		<td>{{ conf[4] }}</td>
		<td>{{ conf[5] }}</td>
		<td>{{ conf[6] }}</td> -->

	</tr>
	{% endfor %}
 </tbody>
</table>

</div>

{% endblock %}

